.sign-in {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(200, 243, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-in > * {
    margin: 4px;
}

.sign-in > button {
    background-color: #00a82d;
    font-weight: bold;
    font-size: 18px;
    padding: 1%;
    border-style: none;
    margin: 1%;
    width: 25%;
}

.login-label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 2%;
    width: 25%;
}

.login-label > input {
    margin: 4%;
    height: 20px;
}

.login-errors-list {
    list-style-type: none;
}

.login-error {
    font-size: 30px;
    margin: 2%;
    color: rgb(253, 46, 46);
}
